.item{
    color:aliceblue;
    margin: 1rem;
    text-align: center;
    background-color: #9e74c3;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.item-text{
    flex-basis: 60%;
}
.line{
    text-decoration: line-through solid rgb(167, 17, 17) 3px;
}
.item-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.edit-input{
    width: 76%;
}
.save-btn{
    background-color: #3d1a5c;
    color: aliceblue;
}
.edit-container{
    width: 100%;
    display: none;
}